 #region1 {
height:fill;
width:fill;
layout:hbox;
valign:bottom;
}
 #AddAttachment {
height:165;
width:fill;
layout:hbox;
valign:center;
}
 #panel0 {
padding-right:20;
padding-left:20;
halign:center;
height:165;
layout:vbox;
background:#FFFFFF;
width:fill;
}
 #button0 {
border-bottom-width:1;
halign:center;
border-radius:10;
width:fill;
margin-bottom:5;
font-pressed-color:#f2adb2;
border-bottom-color:#f1f1f1;
border-top-width:1;
border-top-color:#f1f1f1;
border-left-color:#f1f1f1;
height:44;
color:#595757;
border-right-color:#f1f1f1;
font-size:15;
border-right-width:1;
font-family:default;
margin-top:5;
valign:center;
border-left-width:1;
}
 #button1 {
border-bottom-width:1;
halign:center;
border-radius:10;
width:fill;
margin-bottom:5;
font-pressed-color:#f2adb2;
border-bottom-color:#f1f1f1;
border-top-width:1;
border-top-color:#f1f1f1;
border-left-color:#f1f1f1;
height:44;
color:#595757;
border-right-color:#f1f1f1;
font-size:15;
border-right-width:1;
font-family:default;
margin-top:5;
valign:center;
border-left-width:1;
}
 #button2 {
border-bottom-width:1;
halign:center;
border-radius:10;
width:fill;
margin-bottom:5;
font-pressed-color:#f2adb2;
border-bottom-color:#f1f1f1;
border-top-width:1;
border-top-color:#f1f1f1;
border-left-color:#f1f1f1;
height:44;
color:#595757;
border-right-color:#f1f1f1;
font-size:15;
border-right-width:1;
font-family:default;
margin-top:5;
valign:center;
border-left-width:1;
}
