 #Login {
halign:center;
height:fill;
width:fill;
layout:vbox;
valign:TOP;
}
 #viewPage0 {
halign:center;
height:fill;
width:fill;
layout:vbox;
valign:TOP;
background-image:bg.png;
}
 #navigatorbar0 {
halign:LEFT;
background:#2d5aa7;
}
 #label0 {
halign:center;
height:fill;
weight:1;
color:#000000;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #button0 {
height:44;
font-size:16;
width:44;
}
 #panel0 {
halign:center;
height:90;
layout:vbox;
width:fill;
margin-top:24;
valign:TOP;
}
 #panel1 {
halign:center;
height:45;
background:#f1f1f1;
layout:vbox;
width:fill;
valign:TOP;
}
 #textbox0 {
padding-right:15;
padding-left:15;
halign:LEFT;
height:44;
color:#333333;
font-size:15;
background:#ffffff;
width:fill;
font-family:default;
}
 #panel3 {
halign:LEFT;
height:1;
layout:hbox;
width:fill;
background:#d8d8d8;
valign:center;
}
 #panel2 {
halign:LEFT;
height:44;
background:#ffffff;
layout:hbox;
width:fill;
valign:center;
}
 #pwinput {
padding-right:8;
padding-left:15;
halign:LEFT;
height:44;
weight:1;
color:#333333;
font-size:15;
background:#ffffff;
width:0;
font-family:default;
}
 #textinput {
padding-left:15;
padding-right:8;
halign:LEFT;
height:44;
weight:1;
color:#333333;
font-size:15;
background:#ffffff;
width:0;
font-family:default;
display:none;
}
 #showButton {
margin-right:8;
height:44;
background-image:pw_show.png;
}
