 #NewTrouble {
halign:center;
height:1200;
width:fill;
layout:vbox;
valign:TOP;
}
 #viewPage0 {
halign:center;
height:fill;
background:#f7f8f8;
layout:vbox;
width:fill;
valign:TOP;
}
 #navigatorbar0 {
halign:LEFT;
background:#2d5aa7;
}
 #backbutton0 {
height:44;
width:44;
background-image:back.png;
}
 #space0 {
halign:center;
height:fill;
weight:1;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #commit {
height:44;
font-size:17;
}
 #total {
halign:center;
height:fill;
layout:vbox;
width:fill;
valign:TOP;
}
 #div1 {
padding-right:15;
padding-left:15;
halign:center;
height:180;
layout:vbox;
background:#ffffff;
width:fill;
margin-bottom:24;
margin-top:24;
valign:TOP;
}
 #divpanel0 {
halign:LEFT;
height:44;
layout:hbox;
background:#ffffff;
width:fill;
valign:center;
}
 #projectLable {
margin-right:24;
halign:left;
height:fill;
widthWrap:64.0;
color:#595757;
font-size:15;
width:wrap;
font-family:default;
valign:center;
}
 #space1 {
halign:center;
height:fill;
weight:1;
color:#000000;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #projText {
halign:right;
height:fill;
widthWrap:32.0;
color:#a6a6a6;
font-size:15;
width:wrap;
font-family:default;
valign:center;
}
 #rowflag0 {
height:44;
width:8;
}
 #brpanel0 {
height:1;
background:#f1f1f1;
layout:relative;
width:fill;
}
 #divpanel1 {
halign:LEFT;
height:44;
layout:hbox;
background:#ffffff;
width:fill;
valign:center;
}
 #areaLable {
margin-right:24;
halign:left;
height:fill;
widthWrap:48.0;
color:#595757;
font-size:15;
width:wrap;
font-family:default;
valign:center;
}
 #space2 {
halign:center;
height:fill;
weight:1;
color:#000000;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #areaText {
halign:right;
height:fill;
widthWrap:32.0;
color:#a6a6a6;
font-size:15;
width:wrap;
font-family:default;
valign:center;
}
 #sp2 {
halign:center;
height:fill;
color:#000000;
font-size:14;
width:12;
font-family:default;
valign:center;
}
 #rowflag1 {
height:44;
width:8;
}
 #brpanel2 {
height:1;
background:#f1f1f1;
layout:relative;
width:fill;
}
 #divpanel2 {
halign:LEFT;
height:44;
layout:hbox;
background:#ffffff;
width:fill;
valign:center;
}
 #unitLable {
margin-right:24;
halign:left;
height:fill;
widthWrap:64.0;
color:#595757;
font-size:15;
width:wrap;
font-family:default;
valign:center;
}
 #space3 {
halign:center;
height:fill;
weight:1;
color:#000000;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #unitText {
halign:right;
height:fill;
widthWrap:32.0;
color:#a6a6a6;
font-size:15;
width:wrap;
font-family:default;
valign:center;
}
 #sp3 {
halign:center;
height:fill;
color:#000000;
font-size:14;
width:12;
font-family:default;
valign:center;
}
 #rowflag3 {
height:44;
width:8;
}
 #brpanel3 {
height:1;
background:#f1f1f1;
layout:relative;
width:fill;
}
 #divpanel3 {
halign:LEFT;
height:44;
layout:hbox;
background:#ffffff;
width:fill;
valign:center;
}
 #unitpersonLable {
margin-right:24;
halign:left;
height:fill;
widthWrap:48.0;
color:#595757;
font-size:15;
width:wrap;
font-family:default;
valign:center;
}
 #space4 {
halign:center;
height:fill;
weight:1;
color:#000000;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #officeText {
halign:right;
height:fill;
widthWrap:32.0;
color:#a6a6a6;
font-size:15;
width:wrap;
font-family:default;
valign:center;
}
 #sp4 {
halign:center;
height:fill;
color:#000000;
font-size:14;
width:12;
font-family:default;
valign:center;
}
 #rowflag4 {
height:44;
width:8;
}
 #panel13 {
height:1;
background:#f1f1f1;
layout:relative;
width:fill;
}
 #div2 {
padding-right:15;
padding-left:15;
halign:center;
height:180;
background:#ffffff;
layout:vbox;
width:fill;
valign:TOP;
}
 #divpanel4 {
halign:LEFT;
height:44;
background:#ffffff;
layout:hbox;
width:fill;
valign:center;
}
 #label21 {
margin-right:24;
halign:left;
height:fill;
widthWrap:32.0;
color:#595757;
font-size:15;
width:wrap;
font-family:default;
valign:center;
}
 #label22 {
halign:center;
height:fill;
weight:1;
color:#000000;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #label23 {
halign:right;
height:fill;
widthWrap:32.0;
color:#a6a6a6;
font-size:15;
width:wrap;
font-family:default;
valign:center;
}
 #label24 {
halign:center;
height:fill;
color:#000000;
font-size:14;
width:12;
font-family:default;
valign:center;
}
 #image5 {
height:44;
width:8;
}
 #brpanel5 {
height:1;
background:#f1f1f1;
layout:relative;
width:fill;
}
 #divpanel5 {
halign:LEFT;
height:44;
background:#ffffff;
layout:hbox;
width:fill;
valign:center;
}
 #label25 {
margin-right:24;
halign:left;
height:fill;
widthWrap:32.0;
color:#595757;
font-size:15;
width:wrap;
font-family:default;
valign:center;
}
 #label26 {
halign:center;
height:fill;
weight:1;
color:#000000;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #togglebuttongroup0 {
halign:LEFT;
height:44;
layout:hbox;
width:88;
valign:center;
}
 #togglebutton0 {
halign:center;
height:42.0;
background-image-off:ordinary_normal.png;
color:#b2b2b2;
font-size:15;
width:44.0;
font-family:default;
font-pressed-color:#ffffff;
valign:center;
background-image-on:ordinary_selected.png;
}
 #togglebutton1 {
halign:center;
height:42.0;
background-image-off:major_normal.png;
color:#b2b2b2;
font-size:15;
width:44.0;
font-family:default;
font-pressed-color:#ffffff;
valign:center;
background-image-on:major_selected.png;
}
 #brpanel6 {
height:1;
background:#f1f1f1;
layout:relative;
width:fill;
}
 #divpanel6 {
halign:LEFT;
height:44;
background:#ffffff;
layout:hbox;
width:fill;
valign:center;
}
 #label29 {
margin-right:24;
halign:left;
height:fill;
widthWrap:96.0;
color:#595757;
font-size:15;
width:wrap;
font-family:default;
valign:center;
}
 #label30 {
halign:center;
height:fill;
weight:1;
color:#000000;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #dateinput0 {
padding-left:4;
halign:LEFT;
height:44;
color:#595757;
background:#ffffff;
font-size:15;
width:110;
font-family:default;
}
 #brpanel7 {
height:1;
background:#f1f1f1;
layout:relative;
width:fill;
}
 #divpanel7 {
halign:LEFT;
height:44;
layout:hbox;
background:#ffffff;
width:fill;
valign:center;
}
 #panel15 {
halign:center;
height:30;
weight:1;
layout:vbox;
width:0;
valign:TOP;
}
 #day1 {
height:30;
color:#333333;
font-size:15;
background:#FF7777;
width:70;
font-pressed-color:#ffffff;
pressed-color:#c96a66;
}
 #panel16 {
halign:center;
height:30;
weight:1;
layout:vbox;
width:0;
valign:TOP;
}
 #day3 {
height:30;
color:#333333;
font-size:15;
background:#feb568;
width:70;
font-pressed-color:#ffffff;
pressed-color:#d29b61;
}
 #panel17 {
halign:center;
height:30;
weight:1;
layout:vbox;
width:0;
valign:TOP;
}
 #day5 {
height:30;
color:#333333;
font-size:15;
background:#fedb6e;
width:70;
font-pressed-color:#ffffff;
pressed-color:#d2b765;
}
 #brpanel8 {
halign:CENTER;
height:1;
background:#f1f1f1;
layout:hbox;
width:fill;
valign:top;
}
 #div3 {
padding-left:15;
halign:LEFT;
height:44;
layout:hbox;
background:#ffffff;
width:fill;
margin-top:24;
valign:center;
}
 #label17 {
margin-right:24;
halign:left;
height:fill;
widthWrap:48.0;
color:#595757;
font-size:15;
width:wrap;
font-family:default;
valign:center;
}
 #label18 {
halign:center;
height:fill;
weight:1;
color:#000000;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #addPersonButton {
height:44;
color:#e50011;
pressed-image:btn_add_touch.png;
width:44;
background-image:btn_add.png;
}
 #div4 {
height:1;
background:#f1f1f1;
layout:relative;
width:fill;
}
 #div5 {
height:80;
background:#ffffff;
layout:relative;
width:fill;
}
 #sendPersonText {
halign:center;
width:fill;
margin-bottom:4;
margin-right:15;
height:100;
color:#333333;
background:#ffffff;
font-size:15;
margin-left:15;
left:0.0;
font-family:default;
margin-top:4;
valign:center;
top:0.0;
}
 #div6 {
padding-right:15;
padding-left:15;
padding-top:24;
halign:LEFT;
height:wrap;
heightWrap:45.0;
layout:hbox;
width:fill;
valign:bottom;
padding-bottom:5;
}
 #label27 {
halign:center;
height:wrap;
widthWrap:64.0;
color:#595757;
heightWrap:22.0;
font-size:15;
width:wrap;
font-family:default;
valign:center;
}
 #textArea {
padding-left:4;
padding-right:4;
padding-top:14;
halign:LEFT;
height:100;
color:#333333;
background:#ffffff;
font-size:15;
width:fill;
font-family:default;
padding-bottom:14;
}
 #div7 {
padding-right:15;
padding-left:15;
padding-top:24;
halign:LEFT;
height:wrap;
heightWrap:45.0;
layout:hbox;
width:fill;
valign:bottom;
padding-bottom:5;
}
 #label28 {
halign:center;
height:wrap;
widthWrap:64.0;
color:#595757;
heightWrap:22.0;
font-size:15;
width:wrap;
font-family:default;
valign:center;
}
 #attpanel1 {
padding-left:15;
padding-right:15;
halign:LEFT;
height:80;
layout:hbox;
width:fill;
margin-bottom:15;
valign:center;
}
 #panel22 {
halign:center;
height:fill;
weight:1;
layout:vbox;
width:0;
valign:TOP;
}
 #attimage1 {
height:80;
width:80;
}
 #panel23 {
halign:center;
height:fill;
weight:1;
layout:vbox;
width:0;
valign:TOP;
}
 #attimage2 {
height:80;
width:80;
}
 #panel21 {
halign:center;
height:fill;
weight:1;
layout:vbox;
width:0;
valign:TOP;
}
 #attimage3 {
height:80;
width:80;
}
 #attpanel2 {
padding-right:15;
padding-left:15;
halign:LEFT;
height:80;
layout:hbox;
width:fill;
margin-bottom:15;
display:none;
valign:center;
}
 #panel24 {
halign:center;
height:fill;
weight:1;
layout:vbox;
width:0;
valign:TOP;
}
 #attimage4 {
height:80;
width:80;
}
 #panel25 {
halign:center;
height:fill;
weight:1;
layout:vbox;
width:0;
valign:TOP;
}
 #attimage5 {
height:80;
width:80;
}
 #panel26 {
halign:center;
height:fill;
weight:1;
layout:vbox;
width:0;
valign:TOP;
}
 #attimage6 {
height:80;
width:80;
}
 #attpanel3 {
padding-right:15;
padding-left:15;
halign:LEFT;
height:80;
layout:hbox;
width:fill;
margin-bottom:10;
display:none;
valign:center;
}
 #panel27 {
halign:center;
height:fill;
weight:1;
layout:vbox;
width:0;
valign:TOP;
}
 #attimage7 {
height:80;
width:80;
}
 #panel28 {
halign:center;
height:fill;
weight:1;
layout:vbox;
width:0;
valign:TOP;
}
 #attimage8 {
height:80;
width:80;
}
 #panel29 {
halign:center;
height:fill;
weight:1;
layout:vbox;
width:0;
valign:TOP;
}
 #attimage9 {
height:80;
width:80;
}
 #widget0 {
height:165;
width:320.0;
}
