.navigatorbar{
    padding-right:8;
    height:44;
    color:#ffffff;
    font-size:17;
    layout:hbox;
    background:#2d5aa7;
    width:fill;
    font-family:default;
    valign:center;
}